<% set_meta_tags title: current_page.data.title %>
<% set_meta_tags description: current_page.data.description %>

<% wrap_layout :layout do %>
  <div class="docs">
    <div class="docs-sidebar">
      <div><input id="docsearch" placeholder="Search the docs..."></div>
      <h6>Integration Guides</h6>
      <ol>
        <li><%= nav_link('Overview', '/integrations/') %></li>
        <li><%= nav_link('Merchant Onboarding', '/integrations/onboarding/') %></li>
        <li><%= nav_link('Authentication', '/integrations/authentication/') %></li>
        <li><%= nav_link('Sales Tax Calculations', '/integrations/sales-tax-calculations/') %></li>
        <li><%= nav_link('Sales Tax Reporting', '/integrations/sales-tax-reporting/') %></li>
        <li><%= nav_link('Testing &amp; Scenarios', '/integrations/testing/') %></li>
        <li><%= nav_link('Certification Guidelines', '/integrations/certification-guidelines/') %></li>
        <li><%= nav_link('Certification Checklist', '/integrations/certification-checklist/') %></li>
        <li><%= nav_link('Certification Quickstart', '/integrations/certification-quickstart/') %></li>
      </ol>
      <h6>Directory</h6>
      <ol>
        <li><%= nav_link('Sales Tax Integrations', 'https://www.taxjar.com/sales-tax-integrations/', { target: '_blank' }) %></li>
        <li><%= nav_link('Submit Your Integration', '/integrations/submit/') %></li>
      </ol>
      <h6>Official TaxJar Integration Guides</h6>
      <ol>
        <li><%= nav_link('Introduction', '/integrations/guides/') %></li>
        <li><%= nav_link('Acumatica', '/integrations/guides/acumatica/') %></li>
        <li><%= nav_link('Amazon FBA', '/integrations/guides/amazon/') %></li>
        <li><%= nav_link('BigCommerce', '/integrations/guides/bigcommerce/') %></li>
        <li><%= nav_link('Ebay', '/integrations/guides/ebay/') %></li>
        <li><%= nav_link('Magento', '/integrations/guides/magento/') %></li>
        <li><%= nav_link('Magento 2', '/integrations/guides/magento2/') %></li>
        <li><%= nav_link('Netsuite', '/integrations/guides/netsuite/') %></li>
        <li><%= nav_link('PayPal', '/integrations/guides/paypal/') %></li>
        <li><%= nav_link('Shopify', '/integrations/guides/shopify/') %></li>
        <li><%= nav_link('Square', '/integrations/guides/square/') %></li>
        <li><%= nav_link('Stripe', '/integrations/guides/stripe/') %></li>
        <li><%= nav_link('Woocommerce', '/integrations/guides/woocommerce/') %></li>
        <li><%= nav_link('Xero', '/integrations/guides/xero/') %></li>
        <li><%= nav_link('Sales Tax for Consumers', '/integrations/guides/consumers/') %></li>
        <li><%= nav_link('Registering for Sales Tax', '/integrations/guides/register/') %></li>
      </ol>
      <h6>Resources</h6>
      <ol>
        <li><%= nav_link('API Clients', '/api/guides/#quickstart-guides') %></li>
        <li><%= nav_link('Brand Assets', 'https://www.taxjar.com/brand/', { target: '_blank' }) %></li>
        <li><%= nav_link('FAQs', '/integrations/faq/') %></li>
      </ol>
      <div class="docs-sidebar-footer">
        <div class="divider"></div>
        <%#<p><a href="https://www.taxjar.com" target="_blank"><b>TaxJar</b></a> makes sales tax filing easier for more than 9,000 online sellers and merchants across the world.</p>%>
        <small>&copy; <%= Date.today.year %> TaxJar. TaxJar is a trademark of TPS Unlimited, Inc. <a href="https://www.taxjar.com/privacy-policy/" target="_blank">Privacy Policy</a> &amp; <a href="https://www.taxjar.com/terms-of-service/" target="_blank">Terms of Service</a></small>
      </div>
    </div>
    <% unless current_page.data.hide_title %>
      <div class="docs-title">
        <h1 id="section-intro"><%= current_page.data.title %></h1>
      </div>
    <% end %>
    <div class="docs-content">
      <article class="doc">
        <% unless current_page.data.hide_toc %>
          <div class="docs-toc">
            <h6>Table of Contents</h6>
            <ol>
              <li><a href="#section-intro">Introduction</a></li>
            </ol>
            <h6>Guidelines</h6>
            <ol></ol>
          </div>
        <% end %>
        <div class="doc__entry">
          <%= yield %>
        </div>
      </article>
    </div>
  </div>
<% end %>
