<% wrap_layout :layout do %>
  <div class="docs">
    <div class="docs-sidebar">
      <h6>Integration Guides</h6>
      <ol>
        <li><%= nav_link('Overview', '/integrations/') %></li>
        <li><%= nav_link('Merchant Onboarding', '/integrations/onboarding/') %></li>
        <li><%= nav_link('Authentication', '/integrations/authentication/') %></li>
        <li><%= nav_link('Sales Tax Calculations', '/integrations/sales-tax-calculations/') %></li>
        <li><%= nav_link('Sales Tax Reporting', '/integrations/sales-tax-reporting/') %></li>
        <li><%= nav_link('Testing &amp; Security', '/integrations/testing/') %></li>
      </ol>
      <h6>Directory</h6>
      <ol>
        <li><%= nav_link('Sales Tax Integrations', 'https://www.taxjar.com/sales-tax-integrations/', { target: '_blank' }) %></li>
        <li><%= nav_link('Submit Your Integration', 'https://www.taxjar.com/contact/', { target: '_blank' }) %></li>
      </ol>
      <h6>Resources</h6>
      <ol>
        <li><%= nav_link('API Clients', '/api/guides/#quickstart-guides') %></li>
        <li><%= nav_link('Brand Assets', 'https://www.taxjar.com/logos/', { target: '_blank' }) %></li>
        <li><%= nav_link('Partners', '/integrations/partners/') %></li>
        <li><%= nav_link('FAQs', '/integrations/faq/') %></li>
      </ol>
      <div class="docs-sidebar-footer">
        <div class="divider"></div>
        <%#<p><a href="https://www.taxjar.com" target="_blank"><b>TaxJar</b></a> makes sales tax filing easier for more than 9,000 online sellers and merchants across the world.</p>%>
        <small>&copy; <%= Date.today.year %> TaxJar. TaxJar is a trademark of TPS Unlimited, Inc. <a href="https://www.taxjar.com/privacy-policy/" target="_blank">Privacy Policy</a> &amp; <a href="https://www.taxjar.com/terms-of-service/" target="_blank">Terms of Service</a></small>
      </div>
    </div>
    <div class="docs-title">
      <h1 id="section-intro"><%= current_page.data.title %></h1>
    </div>
    <div class="docs-content">
      <article class="doc">
        <div class="docs-toc">
          <h6>Table of Contents</h6>
          <ol>
            <li><a href="#section-intro">Introduction</a></li>
          </ol>
          <h6>Guidelines</h6>
          <ol></ol>
        </div>
        <div class="doc__entry">
          <%= yield %>
        </div>
      </article>
    </div>
  </div>
<% end %>
