<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= display_meta_tags site: 'TaxJar Developers', separator: '-' %>
    <link rel="shortcut icon" href="<%= image_path "favicon.png" %>">
    <link href="http://fonts.googleapis.com/css?family=Montserrat|Lato:400,700|Source+Code+Pro" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= yield_content :css %>
  </head>
  <body class="<%= page_classes %>">
    <header>
      <div class="logo">
        <a href="http://developers.taxjar.com">
          <%= image_tag "logo.svg", :width => 126 %>
          <span>Developers</span>
        </a>
      </div>
      <div class="menu menu--main">
        <nav>
          <ul>
            <li><a href="http://taxjar.com/api#features">Features</a></li>
            <li><a href="http://taxjar.com/api#pricing">Pricing</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/demo/">API Demo</a></li>
            <li><a href="/api/">API Reference</a></li>
            <li><a href="/api/guides/">API Guides</a></li>
            <li><a href="http://status.taxjar.com">API Status</a></li>
            <!-- <li><a href="/community">Community</a></li> -->
          </ul>
        </nav>
      </div>
      <div class="menu menu--actions">
        <nav>
          <ul>
            <li><a href="https://app.taxjar.com/sign_in/" class="btn">Log In</a></li>
            <li><a href="https://app.taxjar.com/api_sign_up/plus/" class="btn cta">Get API Token</a></li>
          </ul>
        </nav>
        <a href="#" id="nav-button">
          <%= image_tag "menu.svg", :width => 22 %>
        </a>
      </div>
    </header>
    <div class="wrapper">
      <%= yield %>
    </div>
    <footer>
      <span>&copy; 2016 TaxJar</span>
    </footer>
    <%= javascript_include_tag "all" %>
    <%= yield_content :js %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-32676850-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>