<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= current_page.data.title || "TaxJar Developers" %></title>
    <link rel="shortcut icon" href="<%= image_path "favicon.png" %>">
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag "normalize", "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <header>
      <div class="logo">
        <a href="http://www.taxjar.com"><%= image_tag "logo.svg", :width => 126 %></a>
        <span>Developers</span>
      </div>
      <div class="menu menu--main">
        <nav>
          <ul>
            <li><a href="http://taxjar.com/api#features">Features</a></li>
            <li><a href="http://taxjar.com/api#pricing">Pricing</a></li>
            <li><a href="/api">API Reference</a></li>
            <!-- <li><a href="/community">Community</a></li> -->
            <!-- <li><a href="/blog">Blog</a></li> -->
          </ul>
        </nav>
      </div>
      <div class="menu menu--actions">
        <nav>
          <ul>
            <li><a href="https://app.taxjar.com/sign_in/" class="btn">Log In</a></li>
            <li><a href="https://app.taxjar.com/api_sign_up/plus/" class="btn cta">Get API Token</a></li>
          </ul>
        </nav>
        <a href="#" id="nav-button">
          <%= image_tag "menu.svg", :width => 22 %>
        </a>
      </div>
    </header>
    <div class="wrapper">
      <%= yield %>
    </div>
    <footer>
      <span>&copy; 2015 TaxJar</span>
    </footer>
    <%= javascript_include_tag  "all" %>
  </body>
</html>