<% set_meta_tags title: "Dev Blog" %>
<% set_meta_tags description: "Updates from the TaxJar product development team behind the TaxJar API." %>

<div class="blog-index">
  <div class="blog-header">
    <div class="blog-header__title">
      <h1>Developer Blog</h1>
    </div>
    <div class="blog-header__follow">
      <a href="https://twitter.com/TaxJarDev" target="_blank" class="blog-header__follow-link">Follow Us on Twitter <img src="/images/twitter.svg" width="20" height="16"></a>
    </div>
  </div>
  <div class="blog-list">
    <% blog.articles.each do |article| %>
      <article class="post post--preview">
        <div class="post__banner">
          <div class="post__avatar">
            <img src="<%= data['authors'][article.data.author]['avatar'] %>" width="60" height="60">
          </div>
        </div>
        <div class="post__details">
          <div class="post__category" style="color: <%= data['categories'][article.data.category]['color'] %>"><%= article.data.category %></div>
          <h3><a href="<%= article.url %>"><%= article.title %></a></h3>
          <div class="post__meta">
            by <span class="author"><%= data['authors'][article.data.author]['name'] %></span>
            <b>•</b>
            <time><%= article.date.strftime('%b %e, %Y') %></time>
          </div>
        </div>
        <div class="post__summary">
          <%= article.summary %>
        </div>
        <div class="post__more">
          <a href="<%= article.url %>">Read More</a>
        </div>
      </article>
    <% end %>
  </div>
  <div class="blog-sidebar">
    <h4>About</h4>
    <p>Updates from the TaxJar product development team behind the <a href="https://www.taxjar.com/api/">TaxJar API</a>. We share what we've learned building TaxJar, API updates, and technical content around sales tax.</p>

    <h4>Newsletter</h4>
    <p>Stay connected by signing up for our dev newsletter. Get product updates and articles on building great eCommerce websites:</p>
    <form class="form" action="https://taxjar1.createsend.com/t/i/s/huttjk/" method="post">
      <input class="form__input form__input--block" type="email" name="cm-huttjk-huttjk" placeholder="developer@gmail.com" required>
      <button type="submit" class="btn cta">Subscribe</button>
    </form>
  </div>
</div>
