<% set_meta_tags title: "Sales Tax API Demo" %>
<% set_meta_tags description: "Interactive walkthrough of TaxJar's sales tax API with example code." %>

<% content_for :css do %>
  <style>html, body { overflow: hidden; }</style>
  <%= stylesheet_link_tag "https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css" %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" %>
<% end %>

<div id="demo"></div>

<% content_for :js do %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/react/0.14.5/react.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/react/0.14.5/react-dom.min.js" %>
  <%= javascript_include_tag "https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/codemirror.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/addon/scroll/simplescrollbars.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/mode/javascript/javascript.min.js" %>
  <script type="text/javascript">
    window.apiToken = "<%= ENV['DEMO_API_TOKEN'] %>";
  </script>
  <%= javascript_include_tag "demo" %>
<% end %>
